
@{
    ViewBag.Title = "YetkiDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using OrmanFakultesi.Models
@model Yetki
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              Şu anda @Model.adi isimli yetkiyi düzenliyorsunuz...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Kullanici/YetkiDuzenle">
                    <div class="form-group">
                        <label>Yetki Adi</label>
                        <input name="adi" type="text" class="form-control" value="@Model.adi">
                    </div>
                    <div class="form-group">
                        <label>Aciklamasi</label>
                        <input name="aciklama" type="text" class="form-control" value="@Model.aciklama">
                    </div>
                    @Html.Hidden("yetkiID",Model.yetkiID)
                    <button type="submit" class="btn btn-info">Kaydet</button>
                </form>

            </div>
        </section>
    </div>

</div>


