
@{

    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Index";
}
<div class="banner-area">
    <div class="container">
        <div class="row justify-content-center height align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <h1>Düzce Üniversitesi Orman Fakültesi Ziyaretçi Randevu Sistemi</h1>
                    <a href="#" class="primary-btn d-inline-flex align-items-center"><span>Yeni Üyelik</span></a>
                    <a href="#" class="primary-btn d-inline-flex align-items-center"><span>Randevu Al</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <section class="featured-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-feature d-flex flex-wrap justify-content-between">
                        <div class="icon">
                            <img src="/Content/Home/img/f1.png" alt="">
                        </div>
                        <div class="desc">
                            <h4>Doğa ve Bilim Sergisi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature d-flex flex-wrap justify-content-between">
                        <div class="icon">
                            <img src="/Content/Home/img/f2.png" alt="">
                        </div>
                        <div class="desc">
                            <h4>Duof Herbaryumu</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature d-flex flex-wrap justify-content-between">
                        <div class="icon">
                            <img src="/Content/Home/img/f3.png" alt="">
                        </div>
                        <div class="desc">
                            <h4>Entomoloji Laboratuvarı</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature d-flex flex-wrap justify-content-between">
                        <div class="icon">
                            <img src="/Content/Home/img/f4.png" alt="">
                        </div>
                        <div class="desc">
                            <h4>Mobilya Atolyesi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


